<div class="archive">
  <!-- portfolio section 3col -->
<!--    <section id="portfolio"> -->
    <div class="container">
<!--       <div class="sub-title">
        <span>Portfolio</span>
      </div> -->
      <ul class="row portfolio list-unstyled" id="grid">

        <!-- project -->
        <li class="col-xs-6 col-md-4 project">
          <figure>
            <div class="hovereffect">
              <img src="{{ site.portfolioimage }}/fancy-adventure.jpg" alt="">
              <div class="overlay">
                <div class="icons-link">
                  <a class="left-link" href="https://mllechamp.co/Fancy-Adventure/">✨</a>
                </div>
              </div>
            </div>
          </figure>
          <div class="portfolio block">
            <h5>Fancy Adventure </h5>
            <p class="project-description">web develpment, design</p>
          </div>
        </li>
        <!-- project -->
        <li class="col-xs-6 col-md-4 project">
          <figure>
            <div class="hovereffect">
              <img src="{{ site.portfolioimage }}/coffeeinabox.jpg" alt="">
              <div class="overlay">
                <div class="icons-link">
                  <a class="left-link" href="https://fair-pear-sweatpants.cyclic.app/">✨</a>
                </div>
              </div>
            </div>
          </figure>
          <div class="portfolio block">
            <h5>Coffee In A Box </h5>
            <p class="project-description">web develpment, design</p>
          </div>
        </li>
        <!-- project -->
        <li class="col-xs-6 col-md-4 project">
          <figure>
            <div class="hovereffect">
              <img src="{{ site.portfolioimage }}/piggyback.jpg" alt="">
              <div class="overlay">
                <div class="icons-link">
                  <a class="left-link" href="https://piggy-back.netlify.app/">✨</a>
                </div>
              </div>
            </div>
          </figure>
          <div class="portfolio block">
            <h5>Piggy Back </h5>
            <p class="project-description">web develpment, design</p>
          </div>
        </li>
      </ul>
    </div>
<!--   </section> -->
  <!-- End portfolio section 3col -->
  
<!--   <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
      {% for post in site.posts %}
          {% include card.html %}
      {% endfor %}
  </div> -->
</div>
